/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body,html{
   scroll-behavior: smooth;
}
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

main{
   padding-top: 6.5rem;
}
.home{
   display: flex;
   align-items: center;
}
.home-content{
   align-items: center;
   display: grid;
   grid-template-columns: 1fr 1.6fr;
   gap: var(--gap);
}
.home-text-content h2{
   font-size: 6rem;
   margin-bottom: 8rem;
   text-transform: uppercase;
}
.home-img{
   display: flex;
   align-items: center;
   justify-content: center;
}
.home-img img{
   max-width: 100%;
   height: auto;
}
.intro{
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}
.intro .intro-content{
   width: 64rem;
}
.intro .intro-content p{
   margin: 3rem 0;
}
section.top3-job{
   display: flex;
   justify-content: center;
}
.content-top3{
   display: flex;
   flex-direction: column;
   justify-content: center;
   max-width: 114rem;
}
.top3-title{
   margin-bottom: 8rem;
}
.container-grid{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 3rem;
   counter-reset: grid-counter;
}
.container-grid article h3{
   font-size: 3rem;
}
.container-grid article h3::before{
   counter-increment: grid-counter;
   content: counter(grid-counter);
   font-size: 8rem;
   font-weight: bold;
   font-style: italic;
   margin-right: 3rem;
}
.container-flex{
   margin: auto;
   justify-content: center;
   align-items: center;
   display: flex;
   flex-wrap: wrap;
   gap: 3rem;
}
.gallery-title{
   margin-bottom: 8rem;
}
.gallery-img{
   width: 100%;
}
.gallery-img img{
   transition: all 300ms ease-in-out;
}





